@import "tailwindcss";

:root {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-geist-sans), system-ui, sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10, 10, 10;
    --foreground: 237, 237, 237;
  }
}